{% extends "base.html" %}

{% block content %}
<h1>Edit {{form.name}}</h1>
{% if let Some(error) = error %}
<p>Error: {{error}}</p>
{% endif %}

{% if let Some(success) = success %}
<p>Success: {{success}}</p>
{% endif %}
<form action="/users" method="post">
	<p>
		<label for="name">Username</label>
		<input id="name" name="name" value="{{form.name}}">
	</p>
	<p>
		<label for="disabled">Disabled</label>
		<input id="disabled" name="disabled" value="disabled" type="checkbox" {% if form.disabled.is_some() %}checked{% endif %}>
	</p>
	<p>
		<label for="displayname">Display Name</label>
		<input id="displayname" name="displayname" value="{{form.displayname}}">
	</p>
	<p>
		<label for="email">Email</label>
		<input id="email" name="email" value="{{form.email}}">
	</p>
	<p>
		<label for="password">Password</label>
		<input id="password" name="password" value="{{form.password}}" type="password">
	</p>
	<p>
		<label for="confirm_password">Confirm Password</label>
		<input id="confirm_password" name="confirm_password" value="{{form.confirm_password}}" type="password">
	</p>
	<p>
		<label for="groups">Groups</label>
		<input id="groups" name="groups" value="{{form.groups}}">
	</p>

	<p>
		<input type="submit">
	</p>
</form>
{% endblock %}
