{% extends "base.html" %}

{% block content %}
<script>
function delete_user(event) {
	event.preventDefault();
	if (confirm('Are you sure you want to delete this user?')) {
		window.location.href = '/users/delete/{{form.name}}';
	}
}
</script>

<nav aria-label="breadcrumb">
	<ul>
		<li><a href="/">Home</a></li>
		<li>Edit {{form.name}}</li>
	</ul>
</nav>

<h1>Edit {{form.name}}</h1>
{% if let Some(error) = error %}
<p class="pico-color-red-500">Error: {{error}}</p>
{% endif %}

{% if let Some(success) = success %}
<p class="pico-color-green-500">Success: {{success}}</p>
{% endif %}
<form action="/users" method="post">
	<label for="name">
		Username
		<input id="name" name="name" value="{{form.name}}">
	</label>
	<fieldset>
		<label for="disabled">
			<input id="disabled" name="disabled" value="disabled" type="checkbox" {% if form.disabled.is_some() %}checked{% endif %}>
			Disabled
		</label>
	</fieldset>
	<label for="displayname">
		Display Name
		<input id="displayname" name="displayname" value="{{form.displayname}}">
	</label>
	<label for="email">
		Email
		<input id="email" name="email" value="{{form.email}}">
	</label>
	<label for="password">
		Password
		<input id="password" name="password" value="{{form.password}}" type="password">
	</label>
	<label for="confirm_password">
		Confirm Password
		<input id="confirm_password" name="confirm_password" value="{{form.confirm_password}}" type="password">
	</label>
	<label for="groups">
		Groups
		<input id="groups" name="groups" value="{{form.groups}}">
	</label>
	<fieldset class="grid">
		<input type="submit">
		<input type="button" value="Delete" class="contrast pico-color-red-600" onclick="delete_user(event)">
	</fieldset>
</form>
{% endblock %}
